In [4]:

name = "Dedi"
age = 20
address,province = "Jl. cibolang","7413412"
scorePhyton = 80.5
isMarried = False

print("nama :",name)
print("umur :",age)
print("Alamat" ,address)
print("Nilain pemerograman :", scorePhyton)
print("status pernikahan :",isMarried)

nama : Dedi
umur : 20
Alamat Jl. cibolang
Nilain pemerograman : 80.5
status pernikahan : False

In [5]:
print("Tipe Data <name>",type(name))
print("Tipe Data <age>", type(age))
print("Tipe Data <address>", type(address))
print("Tipe Data <province>", type(province))
print("Tipe Data <scorePhython", type(scorePhyton))
print("Tipe Data <isMarried>", type(isMarried))

Tipe Data <name> <class 'str'>
Tipe Data <age> <class 'int'>
Tipe Data <address> <class 'str'>
Tipe Data <province> <class 'str'>
Tipe Data <scorePhython <class 'float'>
Tipe Data <isMarried> <class 'bool'>

In [16]:
#casting atau konversi Tipe Data
#Konvrsi dari string ke (int,float,bool)
strToInt = int (province)
strToFloat = float (province)
strToBool = bool (province)
print (strToInt,strToFloat,strToBool, sep="-")
#Konversi dari int ke (str,float,bool)
intToStr = str (age)
intToFloat = float (age)
intToBool = bool (age)
print (intToStr,intToFloat,intToBool, sep="-")
#Konversi dari float ke (str,int,bool)
floatToStr = str (scorePhyton)
floatToInt = int (scorePhyton)
floatToBool = bool (scorePhyton)
print (floatToStr,floatToInt,floatToBool, sep="-")
#Konversi dari bool ke (str,in,float)
boolToStr = str (isMarried)
boolToInt = int (isMarried)
boolToFloat = float (isMarried)
print (boolToStr,boolToInt,boolToFloat, sep="-")

7413412-7413412.0-True
20-20.0-True
80.5-80-True
False-0-0.0

In [20]:
#Tipe data Colection
#List
cities = ["Narukami","Kanazuka","Watatsumi","Yasiro"]
print(cities)
print(cities[0])
print(cities[len(cities)-1])
cities[1] = "seirai"
print(cities[len(cities)-1][0])
#Touple
names = ("Yoimiya","Ayaka","Ei")
print(names)
#nomes[0] = "Itto" akan menyebabakan eror, karena touple adalah immutable

#Dictionary
studenData = {
    "name" : "Yaemiko",
    "address" : "Narukami Island Inazuma",
    "age" : 500,
    "isMarried" : "Ya Bersama Sskrasa"
}
print(studenData)

['Narukami', 'Kanazuka', 'Watatsumi', 'Yasiro']
Narukami
Yasiro
Y
('Yoimiya', 'Ayaka', 'Ei')
{'name': 'Yaemiko', 'address': 'Narukami Island Inazuma', 'age': 500, 'isMarried': 'Ya Bersama Sskrasa'}

In [33]:
#casting dictionari
list_tuple = [("Nama","Yoimiya"), ("Tinggi, 158")]
dictNama = dict(list_tuple)
print(dictNama)

list_list = [{"Nama","Yoimiya"},{"Mahar","5000000 Mora"}]
dictNama = dict(list_list)
print(dictNama)

tuple_tuple =["Nama","yoimiya"],["Mahar","5000000 Mora"]
dictNama = dict(tuple_tuple)
print(dict_nama)

ValueError: dictionary update sequence element #1 has length 11; 2 is required